<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>1</string>
		<key>name</key>
		<string>芦月轩(西三旗店)</string>
		<key>describe</key>
		<string>品尝最好的羊蝎子</string>
		<key>btnText</key>
		<string>距离50米</string>
	</dict>
	<dict>
		<key>image</key>
		<string>2</string>
		<key>name</key>
		<string>上鱼航重庆火锅</string>
		<key>describe</key>
		<string>夏季里的一把火</string>
		<key>btnText</key>
		<string>距离1200米</string>
	</dict>
	<dict>
		<key>image</key>
		<string>3</string>
		<key>name</key>
		<string>格格香重庆九宫格老灶火锅</string>
		<key>describe</key>
		<string>老配方,老味道.</string>
		<key>btnText</key>
		<string>距离20米</string>
	</dict>
	<dict>
		<key>image</key>
		<string>4</string>
		<key>name</key>
		<string>咖士蛋糕店</string>
		<key>describe</key>
		<string>新造型上架!体验自己动手的乐趣.</string>
		<key>btnText</key>
		<string>距离1600米</string>
	</dict>
	<dict>
		<key>image</key>
		<string>5</string>
		<key>name</key>
		<string>大众韩国泡菜包饭</string>
		<key>describe</key>
		<string>欧巴 !经常吃的泡菜包饭!</string>
		<key>btnText</key>
		<string>距离800米</string>
	</dict>
	<dict>
		<key>image</key>
		<string>6</string>
		<key>name</key>
		<string>盱眙龙虾</string>
		<key>describe</key>
		<string>正宗盱眙龙虾</string>
		<key>btnText</key>
		<string>距离500米</string>
	</dict>
	<dict>
		<key>image</key>
		<string>7</string>
		<key>name</key>
		<string>吉野家(西三旗店)</string>
		<key>describe</key>
		<string>吉野家欢迎您!!!</string>
		<key>btnText</key>
		<string>距离1100米</string>
	</dict>
	<dict>
		<key>image</key>
		<string>8</string>
		<key>name</key>
		<string>社会主义大食堂</string>
		<key>describe</key>
		<string>体验社会主义大锅饭的乐趣!!</string>
		<key>btnText</key>
		<string>距离2000米</string>
	</dict>
</array>
</plist>
