<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>1</string>
		<key>title</key>
		<string>市南</string>
		<key>cover</key>
		<string>市南</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>2</string>
		<key>title</key>
		<string>市北</string>
		<key>cover</key>
		<string>市北</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>3</string>
		<key>title</key>
		<string>崂山</string>
		<key>cover</key>
		<string>崂山</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>4</string>
		<key>title</key>
		<string>李沧</string>
		<key>cover</key>
		<string>李沧</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>5</string>
		<key>title</key>
		<string>城阳</string>
		<key>cover</key>
		<string>城阳</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>6</string>
		<key>title</key>
		<string>黄岛</string>
		<key>cover</key>
		<string>黄岛</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>7</string>
		<key>title</key>
		<string>即墨</string>
		<key>cover</key>
		<string>即墨</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>8</string>
		<key>title</key>
		<string>莱西</string>
		<key>cover</key>
		<string>莱西</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>9</string>
		<key>title</key>
		<string>胶州</string>
		<key>cover</key>
		<string>胶州</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10</string>
		<key>title</key>
		<string>平度</string>
		<key>cover</key>
		<string>平度</string>
	</dict>
</array>
</plist>
