<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>你喜欢青岛吗？</string>
		<key>time</key>
		<string>07-26  16:45</string>
		<key>lookNum</key>
		<string>234</string>
		<key>commentNum</key>
		<string>134</string>
		<key>content</key>
		<string>10月26日下午1点，新闻网在小村庄社区广场成功举办了“生命宝贝少儿才艺表演大赛”。比赛现场空前火爆，参加比赛的有50多位小选手，每个小朋友都精心准备了服装和表演道具，为社区居民奉献了20个精彩纷呈的节目。现场观众座无虚席，社区来了150名叔叔阿姨，都来给小选手打气加油。

下午十二点半，距离比赛开始还有一个小时，活动现场已经人声鼎沸，参加比赛的小朋友们在家长的带领下化着美美的状，穿着美美的衣服早早的来到了现场。本次“少儿才艺表演大赛”参赛的小选手最小的只有4岁，最大的已经上初中。表演项目涵盖魔术、唱歌、舞蹈、歌剧、小提琴、京剧、快板、古筝、吉他等多个方面，大赛精彩程度让台下的观众连连鼓掌称好。</string>
		<key>comment</key>
		<string>这是一项很有意思的文化活动，小朋友们可以学到很多东西。</string>
	</dict>
</array>
</plist>
